.section-contactus{
  .contactus-left-main{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .contactus-left{
      border: 1px solid var(--gray-5);
      border-radius: var(--radius-10);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      overflow: hidden;
      @media only screen and (max-width: 1024px) {
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
      }
      @media only screen and (max-width: 575px) {
        &:first-child{
          margin-top: 25px;
        }

      }

      .inner-one{
        padding: 20px;
        @media only screen and (max-width: 767px) {
          padding: 15px;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          align-items: center;

          li {
            display: flex;
            align-items: start;
            gap: 10px;
            padding: 5px 0;

            .icon-box {
              height: 30px;
              min-width: 30px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: linear-gradient(-45deg, #004B21 0%, #076a32 100%);

              img {
                max-width: 16px;
                height: auto;
              }
            }
            .phone-number{
              display: inline-block;
              a{
                display: inline-block;
                padding-right: 8px;
              }
            }
            a {
              font-size: 16px;
              line-height: 26px;
              font-weight: 400;
              display: block;
              color: var(--black-80);
              text-decoration: none;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
      .inner-two{
        height: 100%;
        img{
          height: 100%;
          object-fit: cover;
        }

      }
    }
  }

  .location-map {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 12px;
    margin-top: 40px;
    @media only screen and (max-width: 767px) {
      margin-top: 20px;
    }
    iframe {
      width: 100%;
      height: 300px;
      display: block;
    }
  }
}



