.section-home-banner{
  line-height: 0;
  height: 75vh;
  align-content: center;
  background: url("../../assets/img/Banner-new-light.webp") no-repeat;
  background-size: cover;
  overflow: hidden;
  @media only screen and (max-width: 1600px) {
    height: 70vh;
  }
  @media only screen and (max-width: 1199px) {
    height: 60vh;
  }
  @media only screen and (max-width: 767px) {
    height: auto;
  }
  .main-banner{
    img{
      @media only screen and (max-width: 767px) {
        max-width: 250px;
        position: absolute;
        margin: 0;
        opacity: 0.25;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
  .home-banner{
    @media only screen and (max-width: 767px) {
      margin: 50px 0;
    }
  }
}