.section-inner-banner{
  height: 300px;
  align-content: center;
  background: url("../../assets/img/inn-banner.webp") no-repeat;
  background-size: cover;
  @media only screen and (max-width: 1499px) {
    height: 300px;
  }
  @media only screen and (max-width: 1199px) {
    height: 250px;
  }
  @media only screen and (max-width: 991px) {
    height: 200px;
  }
  @media only screen and (max-width: 767px) {
    height: 180px;
  }
}

.for-inner-banner{
  position: absolute;
  top: auto;
  bottom: 0;
  width: 100%;
  .section-with-curve{
    transform: rotate(180deg);
  }
}