@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff'),
        url('Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelica';
    src: url('Gelica-MediumItalic.woff2') format('woff2'),
        url('Gelica-MediumItalic.woff') format('woff'),
        url('Gelica-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelica';
    src: url('Gelica-Bold.woff2') format('woff2'),
        url('Gelica-Bold.woff') format('woff'),
        url('Gelica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelica';
    src: url('Gelica-Regular.woff2') format('woff2'),
        url('Gelica-Regular.woff') format('woff'),
        url('Gelica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelica';
    src: url('Gelica-SemiBoldItalic.woff2') format('woff2'),
        url('Gelica-SemiBoldItalic.woff') format('woff'),
        url('Gelica-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-SemiBold.woff2') format('woff2'),
        url('Gilroy-SemiBold.woff') format('woff'),
        url('Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff'),
        url('Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

