.contct-us-form {
    padding: 20px 25px;
    background-color: var(--bglight);
    border: 1px solid #e6e6e6;
    border-radius: var(--radius-10);
    height: 100%;

    @media only screen and (max-width: 767px) {
        padding: 25px 15px 25px 15px;
    }

    h2 {
        margin-bottom: 25px;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    .form-control-custom {
        padding: 1rem 0.8rem;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Gilroy', sans-serif;
        /* Placeholder opacity */
        &::placeholder {
            opacity: 0.5;
        }

        /* Cross-browser support */
        &::-webkit-input-placeholder {
            opacity: 0.5;
        }

        &::-moz-placeholder {
            opacity: 0.5;
        }

        &:-ms-input-placeholder {
            opacity: 0.5;
        }

        &::-ms-input-placeholder {
            opacity: 0.5;
        }
    }
}

.custom-gap {
    --bs-gutter-x: 15px;
    --bs-gutter-y: 15px;
}

input {
    margin-bottom: 0;
}
