.about-us-points{
  li{
    position: relative;
    padding: 4px 0 4px 30px;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 18px;
      height: 18px;
      background: url('../../assets/img/common/tick.svg') no-repeat center;
      background-size: contain;
    }

  }
}