.our-gallery{

}
.gallery-slider {
  .gallery-item {
    background-color: var(--gray-5);
    border-radius: var(--radius-10);
    transition: var(--transition);
    border: 1px solid var(--bglight);
    .gallery-top{
      border-radius: var(--radius-10);
      background-color: var(--white);

      .gallery-box{
        width: 100%;
        overflow: hidden;
        line-height: 0;
        border-radius: var(--radius-10);
        object-fit: fill;
        img {
          max-width: 100%;
          height: auto;
          filter: grayscale(0%);
          transition: var(--transition);
        }
      }
      .gallery-bottom{
        position: absolute;
        bottom: 15px;
        left: 15px;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: var(--white);
        border-radius: var(--radius-5);

        .order-now-link{
          background-color: var(--primary);
          padding: 12px 25px;
          border-radius: var(--radius-5);
          transition: var(--transition);
          &:hover{
            background-color: var(--primary-light);
          }
        }
      }

    }


    &:hover{
      border: 1px solid var(--primary-light);
      background-color: var(--primary);
      .gallery-box{
        img{
          transform: scale(1.03);

        }
      }
    }

  }
}

.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: var(--radius-5);
  background-color: var(--primary);
  top: -85px;
  right: 0;
  border: 1px solid var(--gray-5);
  cursor: pointer;
  transition: var(--transition);
  color: var(--white);
  @media only screen and (max-width: 767px) {
    height: 40px;
    width: 40px;
  }
  @media only screen and (max-width: 1199px) {

  }
  .arrow-size{
    width: 22px;
    @media only screen and (max-width: 767px) {
      width: 16px;
    }
  }
  &.prev{
    right: 60px;
    @media only screen and (max-width: 767px) {
      right: 50px;
    }
  }
  &.disabled{
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
  }
}


.patterns-top{
  height: 12px;
  position: absolute;
  width: 100%;
  line-height: 0;
  top: 0;
  .pattern-design{
    background-image: url('../../assets/img/svg/pattern-green.svg');
    background-repeat: repeat;
    background-size: 24px;
    background-position: top left;
    height: 100%;

  }
}




