.section-about{
  .about-left{
    line-height: 0;
    position: sticky;
    top: 80px;
    .jain-store{
      border-radius: var(--radius-10);
      overflow: hidden;
    }
  }
  .about-right{
      .we-are{
        padding: 20px;
        background-color: var(--bglight);
        border: 1px solid var(--gray-5);
        border-radius: var(--radius-10);
        transition: var(--transition);
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
        &:hover{
          border: 1px solid var(--primary-light);
        }
      }
  }
}
