.about-us-inner{
  .tech-details{
    margin: 10px 0;
  }
  .we-have{
    margin: 30px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 30px;
      .number-of{
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        border-radius: 10px;
      }
  }
}

.company-vision-mission{

}
.commitment-icons{
  background-color: var(--color-red);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  img{
    width: 55px;
    filter: invert(1) brightness(2);

  }
}