/*-- reset start --*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/*-- reset end --*/

/*-- variables start --*/
:root {
  --primary-hover: rgba(230, 0, 18, 0.80);
  --primary-5: rgba(230, 0, 18, 0.05);
  --secondary: #000000;
  --third: rgba(0, 0, 0, 0.80);
  --gray-3: rgba(0, 0, 0, 0.03);
  --radius-5: 5px;
  --radius-10: 10px;
  --transition: all 0.3s ease-in-out;

  --primary: rgba(1, 166, 74, 1);
  --primary-light: rgba(1, 166, 74, 0.9);
  --bglight: rgba(245, 245, 245, 1);
  --bglightnew: rgba(247, 247, 247, 1);
  --gray-1: rgba(235, 235, 235, 1);
  --gray-5: rgba(0, 0, 0, 0.05);

  --white: rgba(255,255,255,1);
  --black: rgba(0, 0, 0, 1);
  --black-80: rgba(116, 116, 116, 1);

  --inter: 'Inter', sans-serif;
}
.bg-primary-5{
  background-color: var(--primary-5);
}

.font-black{
  color: var(--black);
}
.font-primary{
  color: var(--primary);
}
.font-black-80{
  color: var(--black-80);
}
.bglight{
  background-color: var(--bglight);
}
.bglightnew{
  background-color: var(--bglightnew);
}
.mb-40{
  margin-bottom: 40px;
  @media only screen and (max-width: 1600px) {
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 1200px) {
    margin-bottom: 25px;
  }
  @media only screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
/*-- variables end --*/

/*-- fonts start --*/
/* Gilroy */
@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
  url('../src/assets/fonts/Gilroy-Regular.woff') format('woff'),
  url('../src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-Medium.woff2') format('woff2'),
  url('../src/assets/fonts/Gilroy-Medium.woff') format('woff'),
  url('../src/assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
  url('../src/assets/fonts/Gilroy-SemiBold.woff') format('woff'),
  url('../src/assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
  url('../src/assets/fonts/Gilroy-Bold.woff') format('woff'),
  url('../src/assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Gelica */
@font-face {
  font-family: 'Gelica';
  src: url('../src/assets/fonts/Gelica-Regular.woff2') format('woff2'),
  url('../src/assets/fonts/Gelica-Regular.woff') format('woff'),
  url('../src/assets/fonts/Gelica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelica';
  src: url('../src/assets/fonts/Gelica-MediumItalic.woff2') format('woff2'),
  url('../src/assets/fonts/Gelica-MediumItalic.woff') format('woff'),
  url('../src/assets/fonts/Gelica-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gelica';
  src: url('../src/assets/fonts/Gelica-SemiBoldItalic.woff2') format('woff2'),
  url('../src/assets/fonts/Gelica-SemiBoldItalic.woff') format('woff'),
  url('../src/assets/fonts/Gelica-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelica';
  src: url('../src/assets/fonts/Gelica-Bold.woff2') format('woff2'),
  url('../src/assets/fonts/Gelica-Bold.woff') format('woff'),
  url('../src/assets/fonts/Gelica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*-- fonts end --*/


/*-- base start --*/
body {
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 0.25px;
}
.mt--10{
  @media only screen and (max-width: 767px) {
    margin-top: -15px;
  }
}
/*-- base end --*/

/*-- font utilities start --*/
/*-- gilroy utilities start --*/
.gilroy-regular { font-family: 'Gilroy', sans-serif; font-weight: 400; }
.gilroy-medium  { font-family: 'Gilroy', sans-serif; font-weight: 500; }
.gilroy-semibold{ font-family: 'Gilroy', sans-serif; font-weight: 600; }
.gilroy-bold    { font-family: 'Gilroy', sans-serif; font-weight: 700; }
/*-- gilroy utilities end --*/

/*-- gelica utilities start --*/
.gelica-regular          { font-family: 'Gelica', serif; font-weight: 400; }
.gelica-medium-italic    { font-family: 'Gelica', serif; font-weight: 500; font-style: italic; }
.gelica-semibold-italic  { font-family: 'Gelica', serif; font-weight: 600; font-style: italic; }
.gelica-bold             { font-family: 'Gelica', serif; font-weight: 700; }
/*-- gelica utilities end --*/

/*-- font utilities end --*/

/*-- utilities start --*/
.transition { transition: var(--transition); }
/*-- utilities end --*/



/*-- common css start --*/
@media only screen and (min-width: 1500px) {
  .custom-container {
    max-width: 1470px;
  }
}

@media only screen and (max-width: 1024px) {
  .custom-container {
    max-width: 100%;
    width: 100%;
  }
}
.ptb-80{
  padding-top: 80px;
  padding-bottom: 90px;
  @media only screen and (max-width: 1599px) {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  @media only screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  @media only screen and (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  @media only screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.font-70 {
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -2px;
  @media (max-width: 1599px) {
    font-size: 60px;
    line-height: 70px;
  }
  @media (max-width: 1199px) {
    font-size: 48px;
    line-height: 58px;
  }
  @media (max-width: 991px) {
    font-size: 40px;
    line-height: 50px;
  }
  @media (max-width: 767px) {
    font-size: 34px;
    line-height: 44px;
  }
}
.font-50 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -1.5px;

  @media (max-width: 1599px) {
    font-size: 44px;
    line-height: 54px;
    letter-spacing: -0.75px;
  }

  @media (max-width: 1199px) {
    font-size: 38px;
    line-height: 48px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
    line-height: 42px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 38px;
  }
}


.font-18 {
  font-size: 18px;
  line-height: 28px;
  @media only screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.font-20 {
  font-size: 20px;
  line-height: 30px;
  @media only screen and (max-width: 991px) {
    font-size: 18px;
    line-height: 28px;
  }
  @media only screen and (max-width: 575px) {
    font-size: 16px;
    line-height: 22px;
  }
}
.font-24 {
  font-size: 24px;
  line-height: 34px;
  @media (max-width: 1599px) {
    font-size: 22px;
    line-height: 32px;
  }

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 991px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.font-22{
  font-size: 22px;
  line-height: 30px;
  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 991px) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 22px;
  }
}





.font-12 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  @media only screen and (max-width: 991px) {
    font-size: 12px;
    line-height: 18px;
  }
}
.font-14 {
  font-size: 14px;
  line-height: 24px;
  @media only screen and (max-width: 991px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.font-16 {
  font-size: 16px;
  line-height: 26px;
  @media only screen and (max-width: 991px) {
    font-size: 15px;
    line-height: 25px;
  }
}

.common-primary-btn{
  background-color: var(--primary);
  padding: 12px 25px;
  border-radius: var(--radius-5);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  transition: var(--transition);
  text-transform: uppercase;
  &:hover{
    background-color: var(--primary-light);
  }

}
button:not(:disabled){
  border: none !important;
}
/*-- common css end --*/




/*

.whatsapp-number{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
*/


/*-------------------------------------
  Section: Whatsapp * Scroll to top
--------------------------------------*/
.whatsapp-number{
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 9999;
  border-radius: 5px;
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255,255,255,0.18);
  background: linear-gradient(-45deg, #004B21 0%, #076a32 100%);
  @media (max-width: 420px) {
    bottom: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
  }
  img{
    width: 30px;
    height: 30px;
    margin: 0;
  }
}



/*--- this is for half circle in website start ---*/
.section-with-curve {
  width: 100%;
  height: 12px;
  position: relative;
  overflow: hidden;
  background-size: 25px 25px;
  background-repeat: repeat-x;
}

.section-with-curve.white {
  background-color: #ffffff;
  background-size: 28px 26px;
  background-image: radial-gradient(circle at 11.5px 0, #ffffff 11.5px, transparent 12px);
}

.section-with-curve.white {
  background-color: transparent;
  background-size: 28px 26px;
  background-image: radial-gradient(circle at 11.5px 0, var(--white) 11.5px, transparent 12px);
}


.section-with-curve.green {
  background-color: transparent;
  background-size: 28px 26px;
  background-image: radial-gradient(circle at 11.5px 0, var(--primary) 11.5px, transparent 12px);
}

.section-with-curve.gray {
  background-color: #e5e5e5;
  background-size: 28px 26px;
  background-image: radial-gradient(circle at 12.5px 0, #e5e5e5 11.5px, transparent 12px);
}



.for-gray-slider{
  position: absolute;
  top: 0;
  bottom: auto;
  width: 100%;
}

/*--- this is for half circle in website end ---*/