.about-us-inner{
  .tech-details{
    margin: 10px 0;
  }
  .we-have{
    margin: 30px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 30px;
      .number-of{
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        border-radius: 10px;
      }
  }
}

.company-vision-mission{

}
.commitment-icons{
  background-color: var(--color-red);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  img{
    width: 55px;
    filter: invert(1) brightness(2);

  }
}
/* =============================
   WE STORY SECTION
============================= */

.we-story {
  position: relative;
}

/* LEFT IMAGE */
.sticky-image {
  position: sticky;
  top: 100px;
}

.story-image {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.fade-up {
  animation: fadeUp 0.45s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.story-item {
  min-height: 40vh;
  align-items: start;
  font-size: 18px;
}

/* MOBILE */
@media (max-width: 768px) {
  .sticky-image {
    position: relative;
    top: auto;
    margin-bottom: 30px;
  }

  .story-item {
    min-height: auto;
    padding: 30px 0;
  }
}



.section-half-circle{
  width: 100%;
  .half-circle-main{
    height: 20px;
    overflow: hidden;
    position: relative;
    border: 1px solid red;
    .half-circle-top{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: var(--primary);
      position: absolute;
      left: 50%;

    }
  }
}






